*__pycache__
.*_cache
*venv*/
build/
eggs/
dist/
*.egg*
*.whl
*.prof
suricata-check.log
suricata-check.jsonl
suricata-check-fast.log
suricata-check-stats.log
suricata-check-gitlab.json
.coverage*
cov.*
coverage.*
htmlcov