name: Python PR

on:
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}


jobs:
  test:
    name: Quick Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9", "3.14"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build
          python -m pip install pytest
          pip install -r requirements.txt

      - name: Test with pytest
        run: |
          pytest

      - name: Remove regex module
        run: |
          pip uninstall regex --yes

      - name: Test with pytest without regex module
        run: |
          pytest

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    needs:
      - test

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9", "3.14"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build

      - name: Build wheel and install with pip
        run: |
          pip install .

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - build

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.14"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build
          python -m pip install flake8 pyright black ruff
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Type checking with Pyright
        run: |
          python -m pyright

      - name: Lint with Black
        run: |
          black . --check

      - name: Lint with Ruff
        run: |
          ruff check --output-format=github .

  markdownlint:
    name: Run Markdownlint
    runs-on: ubuntu-latest
    needs:
      - lint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - "**/*.md"

      - name: Setup Node.js
        if: steps.changes.outputs.src == 'true'
        uses: actions/setup-node@v6

      - name: Install markdownlint-cli2
        if: steps.changes.outputs.src == 'true'
        run: npm install -g markdownlint-cli2

      - name: Run Markdownlint
        if: steps.changes.outputs.src == 'true'
        run: markdownlint-cli2 "**/*.md"

  docs:
    name: Docs
    runs-on: ubuntu-latest
    needs:
      - markdownlint

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build
          pip install -r requirements.txt

      - name: Generate docs with sphinx
        run: |
          cd docs
          make clean
          make html
